li {
  list-style: none;

  a {
    display: block;
    padding: 0.7rem 0;
    text-decoration: none;
    color: inherit;

    span:first-child {
      display: inline-block;
      margin-right: 0.7rem;
      font-size: 1.4rem;
      color: var(--color-primary);
    }
  }

  .active {
    background-color: var(--color-primary);
    border: 1px solid var(--main-accent);
    padding: 0.8rem;
    border-radius: 7px;
    color: red;

    span {
      color: var(--main-accent);
    }
  }
}
