.button__container {
  .button {
    // margin-top: 2rem;
    padding: 0.7rem 1rem;
    border: none;
    border-radius: 10px;
  }

  .button--main {
    background-color: var(--color-primary);
    color: #fff;
  }
}
