.card {
  text-align: center;
  padding: 1.8rem 1.5rem;
  border-radius: 15px;
  margin-top: 2rem;
  border: 1px solid var(--main-accent);

  .card__icon {
    margin-bottom: 0.8rem;

    span {
      display: inline-block;
      color: var(--color-primary);
      font-size: 8rem;
    }

    & + div {
      margin-bottom: 1.2rem;
    }

    & + div p {
      font-size: 0.8rem;
      color: var(--text-title);
    }

    & + div .button {
      margin-top: 2rem;
      padding: 0.8rem 1rem;
      border: none;
      border-radius: 10px;
    }

    & + div .button--main {
      background-color: var(--color-primary);
      color: #fff;
    }

    & + div .button--block {
      display: block;
      width: 100%;
    }
  }
}
