.statistic {
  border: 1px solid var(--main-accent);
  padding: 1.5rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;

  @media screen and (max-width: 36.25rem) {
    justify-content: flex-start;
  }

  .statistic__icon {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-right: 0.8rem;
    border: 1px solid var(--main-accent);

    @media screen and (max-width: 36.25rem) {
      margin: 0 1.5rem;
      align-self: center;
    }
  }

  .first-child {
    color: #6883db;
  }

  .second-child {
    color: red;
  }

  .third-child {
    color: #2ec3a3;
  }

  .fourth-child {
    color: var(--color-primary);
  }

  .statistic__info {
    h4 {
      font-weight: 400;
      color: var(--text-title);
      font-size: 0.95rem;
      margin-bottom: 0.5rem;
    }

    h1 {
      display: flex;

      color: var(--text-primary);
      font-weight: 600;

      .text-danger {
        color: red;
      }

      .text-success {
        color: #2ec3a3;
      }

      .text-primary {
        color: var(--text-primary);
      }
    }

    h1 small {
      color: var(--text-primary);
      font-weight: 700;
      font-size: 0.8rem;
    }
  }

  &:first-child .analytic-icon {
    background-color: #dce5ff;
    color: #688;
  }
}
